body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

/* get rid of visited link colors for anchor tags */
a {
  text-decoration: none;
  color: black;
}

/* universal selector, for every element */
* {
  box-sizing: border-box;
}